# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.lst

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# vscode
.vscode
*-workspace

# tests
personal_tests/
*.out_tmp
*_asm.txt
target/
record*

# reports 
reports/
CSCE_434_605_F25_Project_Report/

#nb files
/starter_code/MochaLang/nbproject
/starter_code/MochaLang/build
/starter_code/MochaLang/test
/starter_code/MochaLang/build.xml
/starter_code/MochaLang/manifest.mf

#misc
.DS_Store
/starter_code/MochaLang/dist/
